.fake_body {
    width: calc(100vw);
    height: 100vh;
    left: 350px;
    position: absolute;
    top: 0;
    left: 100%;
    transition: .5s;
    overflow-y: auto;
}

.fake_body.active_panel {
    left: 1050px;
    height: 100%;
}

.fake_body.full {
    left: 350px;
    width: calc(100vw - 350px);
}

.innerCMSBlok label {
    display: none !important;
}

.innerCMSBlok input, .innerCMSBlok textarea {
    margin-bottom: 0 !important;
}

.innerCMSBlok h1 {
    margin-bottom: 0 !important;
}