.fake_body {
    width: calc(100vw);
    height: 100vh;
    left: 350px;
    position: absolute;
    top: 0;
    left: 100%;
    transition: .5s;
    overflow-y: auto;
    background-color: #eee;
}

.fake_body.active_panel {
    left: 1050px;
    height: 100%;
}

.fake_body.full {
    left: 350px;
    width: calc(100vw - 350px);
}

.koppel_tabel_outerBlok {
    display: block;
    float: left;
}

.innerCMSBlok {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

.innerCMSBlok label {
    display: none !important;
}

.innerCMSBlok input, .innerCMSBlok textarea {
    margin-bottom: 0 !important;
}

.innerCMSBlok h1 {
    margin-bottom: 0 !important;
}


.cmsExplanation h1{
    color: #67ABA4;
    text-align: center;
    margin-top: 20px;
}

.innerCMSBlok i {
    position: absolute;
    right: 5px;
    font-size: 26px;
    top: 20px;
    cursor: pointer;
}

.innerCMSBlok label.weergevenLabel, .innerCMSBlok label.JaNeeLabel {
    display: block !important;
    width: 115px;
    margin-top: 20px;
    float: left;
}

.JaNeeLabel {
    width: 30px !important;
    margin-left: 10px;
}

.explanation-a{
    text-align: center;
    margin-bottom: 50px;
}

.menuExplanation a{
    text-align: center;
    color: #67ABA4;
}

.menuExplanation h2{
    color: #67ABA4;
    margin-bottom: 20px;
}

.explanationtext p{
    margin-left: -10px;
}

.uitlegImg{
    height: 100%;
    margin-bottom: 35px;
}

.mainHR{
    border-color: #67ABA4;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #67ABA4;

}

/* versiebeheer */
.versieBeheer h1 {
    font-size: 38px;
    color: #79A7A4;
    border-bottom: 1px solid rgb(161, 161, 161);
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.versieBeheer h3 {
    font-size: 25px !important;
    margin-top: 10px;
}

.versieBeheer button {
    background: #67ABA4;
    color: white;
    border-radius: 50px;
    padding: 10px 40px;
    float: left;
    margin-top: 10px;
    border: 0;
    position: relative;
}