.fake_body {
    width: calc(100vw);
    height: 100vh;
    left: 350px;
    position: absolute;
    top: 0;
    left: 100%;
    transition: .5s;
    overflow-y: auto;
    z-index: 1;
    background-color: #eee;
}

.fake_body.active_panel {
    left: 1050px;
    height: 100%;
}

.fake_body.full {
    left: 350px;
    width: calc(100vw - 350px);
}

.innerCMSBlok {
    position: relative;
}

.innerCMSBlok label {
    display: none !important;
}

.innerCMSBlok input, .innerCMSBlok textarea {
    margin-bottom: 0 !important;
}

.innerCMSBlok h1 {
    margin-bottom: 0 !important;
}


.cmsExplanation h1{
    color: #67ABA4;
    text-align: center;
    margin-top: 20px;
}

.innerCMSBlok i {
    position: absolute;
    right: 5px;
    font-size: 26px;
    top: 65px;
    cursor: pointer;
}

.innerCMSBlok label.weergevenLabel, .innerCMSBlok label.JaNeeLabel {
    display: block !important;
    width: 115px;
    margin-top: 20px;
    float: left;
}

.JaNeeLabel {
    width: 30px !important;
    margin-left: 10px;
}
