.contact-hero {
    width: 100%;
    background-image: url(../../images/over-mij-background.jpg);
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 250px 20px;
}

.contact-hero .intro small {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.contact-hero .intro h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    max-width: 900px;
}

@media only screen and (max-width: 992px) {

    .contact-hero .intro h1::before {
        content: "" !important;
    }

    .contact-hero .intro h1 {
        font-size: 30px;
    }

}

.header-buttons{
    margin-top: 40px;
}
.header-buttons button{
    background-color: #ffffff;
    color: #67ABA4;
    border: none;
    padding: 20px 10px 20px 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 50px;
    width: 250px;
}

.header-buttons button:first-child { 
    margin-right: 20px;
}

.contact-info {
    margin-top: -100px;
    /* height: 500px; */
}

.alkmaar, .castricum{
    background-color: #ffffff;
    padding: 70px;
    min-height: 380px;
    max-height: 380px;
    /*margin-right: -20px;*/
    border-bottom: 3px solid #9CD1BE;
    box-shadow: 12px 0 20px -4px rgba(0, 0, 0, 0.1), -12px 0 20px -4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

@media only screen and (max-width: 992px) {
    .alkmaar, .castricum{
        padding: 50px 20px;
    }
}

.alkmaar h4, .castricum h4 {
    color: #67ABA4;
    font-size: 25px;
    padding-bottom: 30px;
}

.adres-alkmaar{
    margin-bottom: 20px;
}

.info-alkmaar, .info-castricum{
    padding-bottom: 30px;
}

.alkmaar a, .castricum a{
    color: #9CD1BE;
}

.contact-information {
    z-index: 1;
    margin-top: -285px;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
}

@media only screen and (max-width: 992px) {

    .contact-information {
        margin-top: 50px;
    }
} 

.contact-informationInline {
    border: 3px solid #9CD1BE;
}

.contact-informationInline h2{
    color: #67ABA4;
    margin-top: 50px;
    margin-bottom: 20px;
}

.fas{
    margin-right: 10px;
}

.contactAppointment{
    margin-bottom: 20px;
}



.reviewInformation {
    margin: 80px 0 50px;
    position: relative;
}

.reviewInformation:before {
    content: '“';
    font-size: 160px;
    position: absolute;
    width: 100%;
    font-family: 'Playfair Display', serif;
    color: rgba(0, 0, 0, 0.11);
    z-index: 0;
    top: -80px;
}

.reviewInformation h4 {
    position: relative;
    display: block;
    margin: auto;
    font-size: 22px;
    line-height: 34px;
    font-weight: 300;
  }

.reviewName {
    position: relative;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.2);
}

.otherData{
    margin-bottom: 50px;
}

.otherData h4 {
    color: #67ABA4;
    font-size: 40px;
    margin-bottom: 40px;
}

.otherData b{
    margin-right: 5px;
}

.contactForm {
    padding: 50px;
    border-bottom: 3px solid #9CD1BE;
    box-shadow: 12px 0 20px -4px rgba(0, 0, 0, 0.1), -12px 0 20px -4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.contactForm h4 {
    color: #67ABA4;
    font-size: 40px;
    margin-bottom: 40px;
}

.contactForm input[type=text]{
    width: 49.55%;
    border: none;
    background-color: #F6F7F7;
    padding: 10px;
}

.contactForm input[type=email]{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #F6F7F7;
    padding: 10px;
}

.contactForm textarea{
    width: 100%;
    border: none;
    background-color: #F6F7F7;  
    resize: vertical;
    overflow: auto;
    min-height: 200px;
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
}

.contactForm p{
    font-size: 12px;
}

.contactForm a{
    color: #9CD1BE;
    text-decoration: underline;
    font-size: 12px;
}

.contactForm button{
    font-size: 17px;
    background-color: #9CD1BE;
    border-radius: 50px;
    border: none;
    padding: 10px 40px 10px 40px;
    color: #ffffff;
    float: right;
}

@media only screen and (max-width: 992px) {

    .reviewInformation:before {
        content: "" !important;
    }

    .contactForm {
        padding: 20px;
        padding-bottom: 50px;
    }
    .contactForm h4 {
        font-size: 30px;
    }

    .contactForm input[type=text] {
        width: 100%;
        margin-top: 10px;
    }

    .contactForm button {
        float: unset;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
} 