* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
   height: 3000px; /* <--scroll testen */
  background: #eee;
}

/* Hero Section */
.home-hero {
  width: 100%;
  min-height: 90vh;
  background: url(../../images/home-background.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 100px 0;
}

.home-hero .intro h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 60px;
  max-width: 600px;
}

.home-hero .intro h1::before{
  content: '“';
  font-size: 400px;
  position: absolute;
  top: -140px;
  opacity: 0.2;
  left: -50px;
}


.home-hero .intro p {
  margin: 40px 0 0 0;
  max-width: 880px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.home-hero button {
  margin-top: 40px;
  margin-right: 40px;
  background: white;
  color: #67ABA4;
  border: none;
  padding: 16px 50px;
  border-radius: 100px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: none !important;
}

/* Home Blocks */
.home-blocks {
  margin-top: -100px;
}

.home-blocks .case {
  background: white; 
  padding: 50px 20px;
  text-align: center;
  min-height: 300px;
  border-bottom: 3px solid #9CD1BE;
}

.home-blocks .case img {
  display: block;
  margin: auto;
  height: 70px;
}

.home-blocks .case p {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Behandelingen Section */
.home-behandelingen {
  padding-bottom: 100px;
}

.home-behandelingen h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 46px;
  font-weight: bold;
  color: #67ABA4;
  margin: 100px 0;
}

.home-behandelingen .behandeling {
  height: auto;
  background: white;
  border-bottom: 3px solid #9CD1BE;
  padding: 0;
  margin-bottom: 50px;
}

.home-behandelingen .behandeling-text {
  min-height: 350px;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

.home-behandelingen .behandeling-text h3 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #67ABA4;
  z-index: 2;
  position: relative;
}

.home-behandelingen .behandeling-text:before {
  content: "1";
  font-family: 'Playfair Display', serif;
  position: absolute;
  color: #E9F9F1;
  font-size: 250px;
  top: -80px;
  left: 40px;
  z-index: 0;
}

.home-behandelingen .behandeling-text p {
  font-family: 'Playfair Display', serif;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  z-index: 2;
  position: relative;
}

.home-behandelingen .behandeling-img {
  background: url(../../images/behandeling.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 350px;
  height: 100%;
}

/* Home Tip Section */
.home-tip {
  height: auto;
  background: white;
  padding: 20px;
}

.home-tip .inner-tip {
  border: 3px solid #9CD1BE;
  padding: 50px 0;
}

.home-tip .inner-tip h4 {
  text-align: center;
  max-width: 600px;
  display: block;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  margin: 0;
}