@charset "UTF-8";
/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

body {
    font-family: "Josefin Sans", sans-serif;
    background: #eee;
}

.over-mij-hero {
    width: 100%;
    /*background-image: url(../../images/over-mij-background.jpg);*/
    background-size: cover !important;
    /*background-position: center center;*/
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 250px 20px;
}

.over-mij-hero .intro small {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.over-mij-hero .intro h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    max-width: 900px;
}

.over-mij-hero .intro h1::before {
    content: '“';
    font-size: 400px;
    position: absolute;
    top: -140px;
    opacity: 0.2;
    left: -50px;
}

@media only screen and (max-width: 992px) {

    .over-mij-hero .intro h1::before {
        content: "" !important;
    }

}


.over-mij-hero .intro p {
    margin: 40px 0 0 0;
    max-width: 750px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 300;
}

.over-mij-info {
    margin-top: -100px;
    /* height: 500px; */
}

.overMijBlock {
    display: flex;
    align-items: center;
    z-index: 3;
    background-color: #ffffff;
    min-height: 500px;
    border-bottom: 3px solid #9CD1BE;
    box-shadow: 12px 0 20px -4px rgba(0, 0, 0, 0.1), -12px 0 20px -4px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 992px) {
    .overMijBlock {
        display: block;
    }
}

.loopbaanswitch {
    padding: 50px 50px;
}

@media only screen and (max-width: 992px) {
    .loopbaanswitch {
        padding: 50px 20px;
    }
}

.loopbaanswitch h2 {
    color: #67ABA4;
    padding-bottom: 30px;
}

.overmij-image img {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .overmij-image img {
        width: 100%;
        margin-bottom: 50px;
    }
}

.review {
    z-index: 1;
    margin-top: -400px;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
}

@media only screen and (max-width: 992px) {

    .review {
        margin-top: 50px;
    }

}

.reviewInline {
    border: 3px solid #9CD1BE;
}

.reviewInformation {
    margin: 200px 0 200px;
    position: relative;
}

.reviewInformation:before {
    content: 'Review';
    font-size: 160px;
    position: absolute;
    width: 100%;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #E9F9F1;
    z-index: 0;
    top: -130px;
    left: -220px;
}

@media only screen and (max-width: 992px) {

    .reviewInformation:before {
        content: "" !important;
    }

}

.reviewInformation h4 {
    text-align: center;
    position: relative;
    max-width: 800px;
    display: block;
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
  }

.reviewName {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.affiliatedWith {
    padding: 50px 20px;
}

.affiliatedWith h2 {
    text-align: center;
    color: #67ABA4;
    margin-top: 50px;
}

.affiliatedWith img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.affiliatedWith a {
    font-size: 15px;
    width: 10px;
    margin-top: 50px;
    color: #000000;
}

.avgPrivacy {
    text-align: center;
}

.avgPrivacy .avgPrivacyLink{
    color: #9CD1BE;
    text-decoration: underline;
}
