$color: #9CD1BE;

#hero--prijslijst{
	padding-top: 150px;
	padding-bottom: 150px;
	background-size: cover !important;

	h1{
		color: white;
		text-transform: uppercase;
		@media (max-width: 992px) {
   			font-size: 25px !important;
  		}	
	}

	p{
		color: white;
		padding-top: 15px;
	}

}

#underheader--prijslijst{
	padding-top: 0px;
	padding-bottom: 0px;

	#header--box{
		background: white;
		padding: 50px 70px;
		border-bottom: 2px $color solid;
		top: -80px;
	}
}

#prijslijst--section{
	padding-top: 100px;
	padding-bottom: 100px;
	
	#title{
		padding-bottom: 100px;
		
	}
	#prijslijst--btn{
		padding: 12px 30px;
		background: $color;
		border-radius: 50px;
		border-style: none;
		color: black;
		outline: none;
		transition: all 0.5s ease;
		&:hover{
			transform: scale(0.99);
		}
	}


	h2{
		padding-bottom: 20px;	
	}

	ul{
		padding-left: 0px;
		li{
			list-style: none;
			padding-left: 0px;
			 font-family: 'Montserrat', sans-serif;
		}
	}
}

#zorgverzekering--section{
	background: white;
	padding-top: 100px;
	padding-bottom: 100px;
	outline: 2px $color solid;
	outline-offset: -10px;
	h2{
		padding-bottom: 20px;
		color: $color;
	}
}