@charset "UTF-8";

.tips-hero {
    width: 100%;
    background-image: url(../../images/over-mij-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding-top: 175px !important;
    padding-bottom: 175px !important;
}

.tips-hero small {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.tips-hero h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    max-width: 900px;
    padding-top: 60px;
}

.tips-hero h1::before {
    content: '“';
    font-size: 400px;
    position: absolute;
    top: -140px;
    opacity: 0.2;
    left: -50px;
}

@media only screen and (max-width: 992px) {
  .tips-hero h1::before {
    content: "" !important;
  }
}

.tips-hero p {
    margin: 40px 0 0 0;
    max-width: 750px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 300;
}

.tips-info {
    margin-top: -100px;
    /* height: 500px; */
}

.tips-hero {
    width: 100%;
    background-image: url(../../images/over-mij-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 250px 20px;
}

.tips-hero small {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.tips-hero h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    max-width: 900px;
}

.tips-hero h1::before {
    content: '“';
    font-size: 400px;
    position: absolute;
    top: 30px;
    opacity: 0.2;
    left: -50px;
}

@media only screen and (max-width: 992px) {
  .tips-hero .intro h1::before {
    content: "" !important;
  }
}

.tips-hero p {
    margin: 40px 0 0 0;
    max-width: 750px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 300;
}

.tips-info {
    margin-top: -100px;
}

.tipsBlock {
    align-items: center;
    z-index: 3;
    background-color: #ffffff;
    min-height: 200px;
    border-bottom: 3px solid #9CD1BE;
    box-shadow: 12px 0 20px -4px rgba(0, 0, 0, 0.1), -12px 0 20px -4px rgba(0, 0, 0, 0.1);
}

.tipsBlock .row {
  text-align: center;
}

.tipsBlock span {
  color: #9CD1BE;
}

@media only screen and (max-width: 992px) {
    .tips_Block {
        display: block;
    }
}

.nav_titels {
    padding: 50px 50px;
}

@media only screen and (max-width: 992px) {
  .nav_titels {
    padding: 50px 20px;
  }
}

.nav_titels h2 {
    color: #67ABA4;
    padding-bottom: 30px;
}

section {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
}

.tips-box {
    background: white;
    padding-top: 100px;
    padding-bottom: 100px;
    transition: all 1s ease;
    border-bottom: 2px #9CD1BE solid;
    margin-bottom: 5px;
    position: relative;
    margin-bottom: 20px;
}

.tips-box a {
    color: #9CD1BE !important;
    font-size: 12px !important;
    padding-top: 15px !important;
  }

.tips-box hr {
    width: 50px;
    height: 2px;
    position: absolute;
    background: #9CD1BE;
    border-style: none;
    margin-left: -20px;
}

.tips-box:hover {
    transform: scale(1.02) !important;
    transition: all 0.3s ease;
}

.tips-box p {
    color: black !important;
    font-size: 17px !important;
    font-family: 'playfair';
    font-weight: lighter;
    z-index: 1;
    position: relative;
    text-align:center;
    padding: 0 140px;
}

@media (max-width: 992px) {
  .tips-box p {
    padding: 0 15px;
  }
}

.tips-box .tips-vak {
    padding: 0px 50px;
}



@media (max-width: 992px) {
  .tips-box .tips-vak {
    padding: 0px 15px !important;
  }
  
}

.tips-box .tips-titel p {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 40px !important;
    text-align: center !important;
    opacity: 0.3;
    top: -70px;
    color: #9CD1BE !important;
    font-family: 'playfair';
    font-weight: bold;
    z-index: 0 !important;
}



.tips-box h3 {
    padding-bottom: 10px;
    color: #9CD1BE;
    font-weight: lighter;
    font-size: 20px !important;
    text-transform: uppercase;
    position: relative;
    z-index: 1 !important;
  }

.tips-box .image_big2 {
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

@media screen and (max-width: 992px) {
  .tips-box .image_big2 {
    display: none;
  }
}

.tips-titel {
    left: 0;
    right: 0;
    margin: auto;
    font-size: 100px !important;
    text-align: center !important;
    top: -20px;
    color: #9CD1BE !important;
    font-family: 'playfair';
    font-weight: bold;
    z-index: 0 !important;
}

@media screen and (max-width: 992px) {
  .tips-box .tips-titel p {
    opacity: 0.3;
    color: #9CD1BE;
    font-family: 'playfair';
    font-weight: bold;
    z-index: 0;
    font-size: 20px !important;
  }
  .tip-title-parent {
    width: calc(100% - 30px);
    margin-left: 15px; 
  }
}

.none_bullet{
  list-style-type:none;
}

.tips_link {
  display: inline-block;
  float: center;
  padding: 0px 10px 0px 0px;
}

.padding_tekst1 {
  margin-top: 110px;
}

.tussenruimte {
  margin-top: 20px;
}
