body {
    overflow: hidden;
}

#sidebar{
	position: absolute;
	width: 350px;
	height: 100vh;
    background-color: #313539;
    z-index: 6;
}

#sidebar .header h3 {
    padding-top: 50px;
}

#sidebar .header {
    background-color: #9CD1BE;
    width: 100%;
    height: 180px;
    color: white;
    text-align: center;
}

#sidebar .header h3, .saveChanges h3 {
    margin-top: 0;
}

#sidebar .pages {
    padding: 0 30px;
    height: calc(100% - 250px);
    overflow: auto;
}

#sidebar .pages i {
    float: right;
    transition:  .2s;
}

#sidebar .pages .page {
    cursor: pointer;
    border-bottom: 1px solid #B5BBBF;
    padding: 15px 0;
    margin: 0;
}

#sidebar .saveChanges, #sidebar .showSite {
    background-color: #9CD1BE;
    width: 100%;
    height: 50px;
    color: #EEEEEE;
    text-align: center;
    position: absolute;
    bottom: 50px;
    cursor: pointer;
    transition: .3s ease;
}

#sidebar .showSite {
    bottom: 100px;
}

#sidebar .logout {
    background-color: #313539;
    width: 100%;
    height: 50px;
    color: #686868;
    text-align: center;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: .3s ease;
}
#sidebar .saveChanges:hover, #sidebar .showSite:hover {
    background-color: rgb(235, 235, 235);
    color: #00A077;
}

#sidebar .logout:hover {
    color: white;
}

#sidebar .saveChanges h3, #sidebar .showSite h3, #sidebar .logout h3 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 22px;
    margin-top: 13px;
}

.panel {
    position: absolute;
    width: 700px;
    background-color: rgb(243, 243, 243);
    z-index: 4;
    left: -350px;
    transition: .2s;
    height: 100%;
    padding: 20px 40px;
    overflow-y: auto;
}

.panel h1 {
    font-size: 38px;
    color: #79A7A4;
    border-bottom: 1px solid rgb(161, 161, 161);
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.panel.active_panel {
    left: 350px;
    height: 100%;
    padding: 20px 40px;
}

.panel input {
    height: 50px;
    border: none;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px;
    padding: 20px;
}

.panel label {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px;
    color: rgb(83, 83, 83);
}

.panel textarea {
    min-height: 300px;
    border: 1px solid white;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px;
    padding: 20px;
    resize: none;
}

.page.active {
    color: #F1F1F1;
}

.outerTextarea, .outerInput {
    position: relative;
    margin-bottom: 50px;
}

.outerTextarea p.counter, .outerInput p.counter {
    position: absolute;
    bottom: -25px;
    right: 5px;
}

.outerTextarea p.errorText, .outerInput p.errorText {
    position: absolute;
    bottom: -25px;
    left: 5px;
    color: red;
    display: none;
}
.formError {
    border: 1px solid red !important;
}

textarea:focus, input:focus {
    outline: none !important;
}

input[type=radio] {
    height: 15px;
    margin-top: 25px;
    float: left;
}