body{
	background-color: #EEEEEE;
	overflow: hidden;
}

#loginForm, #forgotPasswordForm{
	position: absolute;
	left: calc(50vw - 325px);
	width: 650px;
	height: 450px;
	margin: 0 auto; 
	margin-top: calc(50vh - 225px);
	background-color: #ffffff;
	transition: .5s;
}

#forgotPasswordForm{
	left: 100%;
}


.login_form{
	width: 80%;
	margin-left: 10%;
}

.login_form h1{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.loginInput{
	width: 95%;
	height: 50px;
	margin-bottom: 1em;
	border: none;
	background-color: #EEEEEE;
	line-height: 50px;
	font-size: 20px;	
	padding-left: 5%;
}

.loginSubmit, #iGotIt{
	width: 100%;
	height: 60px;
	background-color: #79A7A4;
	margin-bottom: 1em;
	text-align: center;
}

.loginSubmit p {
	padding-top: 15px;
	margin: 0 auto;
	color: #ffffff;
}

#forgotPassword{
	float: right;
	margin-right: 10%;
	color: #79A7A4;
}
#forgotPassword:hover{
	cursor: pointer;
	color: #9CD1BE;
}


